$base-font-size: 1rem;

$font-color: lch(53 105 40);
$bacground-block-color: #f7f4ecb6;
$bacground-link-active: #04aa6d;
$base-link-text: #767676;
$active-link-text: #f7f7f7;
$base-black-color: #292929;
$base-white-color: #eeeeee;
