.header {
  height: 100px;
  padding-left: 30px;
  line-height: 100px;
  background-color: #f8f6f0;
}
.logo {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  font-size: 18px;
  color: #04aa6d;
}