extends layouts/default
include helpers/mixins

block variables
	- const title = "webm-test-data"

block content
	include ../blocks/components/search-form/search-form.pug
	include ../blocks/components/list-cards/list-cards.pug
	include ../blocks/components/text-for-page/text-for-page.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
