.param
  .param__result Results Found
  .param__title Param 1
  +list('checkbox', 'Value 1', 'Value 2', 'Value 3', 'Value 4', 'Value 5')(class= 'param__list')
  .param__title Param 2
  +list('radio', 'Value 2_1', 'Value 2_2', 'Value 2_3')
  .param__title Param 3
  +input('min', 'min')(class="param__mimax")
  +input('max', 'max')(class="param__mimax")
  .param__title Param 4
  +input('keyword...', 'keyword')(class="param__keywords")
  +button('search')(class="btn_search")